<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.2/phpunit.xsd"
         bootstrap="../../../vendor/autoload.php"
         backupGlobals="false"
         verbose="true">
    <testsuite name="Tests">
        <directory suffix="Test.php">../../../tests</directory>
    </testsuite>

    <logging>
        <log type="coverage-html" target="../../../report/coverage"/>
        <log type="coverage-clover" target="../../../report/logs/clover.xml"/>
        <log type="coverage-crap4j" target="../../../report/logs/crap4j.xml"/>
        <log type="coverage-xml" target="../../../report/logs/coverage"/>
        <log type="junit" target="../../../report/logs/junit.xml"/>
    </logging>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../../src</directory>
        </whitelist>
    </filter>
    <env name="APP_ENV" value="testing"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
</phpunit>
